.ant-layout-header {
    min-height: 75px;
    float: left;
    position: fixed;
    min-width: 100%;
    z-index: 1;
    background: rgb(131, 131, 131) !important;
}

.ant-menu {
    background: rgb(131, 131, 131) !important;

}

.bg-def-color,
body,
.ant-layout-content {
    background-color: rgb(190, 190, 190);
}

.logo {
    float: left;
    max-width: 150px;
    max-height: 100px;
    margin-top: 0px;
}

.ant-menu-item-selected {
    background: rgb(58, 58, 58) !important;
}

.ant-card {
    display: inline-block;
    margin: 15px !important;

}

.ant-card-head {
    padding: 1px !important;
}

.kliven-hscroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 20px;
}

.kliven-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-layout-footer {
    min-height: 5px !important;

}

.grid-container {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: repeat(6, auto);
    padding: 10px;
}

.grid-item {
    -webkit-box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.56);
    box-shadow: 2px 2px 4px 5px rgba(0, 0, 0, 0.56);
    padding: 1px;
    font-size: 30px;
    text-align: center;
    max-width: 250px;
}